# Ensure all files checked into repo have the same line ending type
# `lf` end of line character is supported on Windows, Mac, and Linux
# so use it as the standard. You'll thank me.
* text eol=lf
# Don't try to convert line endings on pictures
*.jpg -text
*.png -text
# If you have other file types stored in git (.e.g. pdf) you can add those.
# If you need to specify a different type of line ending for certain file types,
# you can add exceptions for them. For example:
# *.vcproj text eol=crlf
# Since the dev container is Linux based, any files that contain CRLF should be
# normalized. See https://git-scm.com/docs/gitattributes
